.container{
    max-width: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #010626;
}

.box-photo{
    margin: 5px;
}

.photo{
    width: 100%;
    max-height: 200px;
    border-radius: 15px;
}

.box-text{
    margin: 15px 10px;
}

.title{
    color: #F25922;
    text-shadow: 0 0 10px #F25922, 0 0 3px;
    font-size: 16px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

@media screen and (min-width: 768px){
    .container{
        max-width: 250px;
    }
}