main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: #010626;
} 

.box-photo{
    max-width: 50%;
    padding: 5px;
}

.box-photo > img{
    width: 100%;
    border-radius: 15px; 
}

.box-title{
    margin: 10px 0;
}

.title{
    padding: 0 25px;
    text-align:center;
    font-size: 22px;
    color: #ff00de;
    text-shadow: 0 0 10px #ff00de, 0 0 3px;
}

.box-text{
    max-width: 700px;
    margin: 20px;
}

.text{
    font-size: 15px;
    text-indent: 15px;
    text-align: justify;
    padding: 3px 0;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .box-photo{
        max-width: 40%;
    }

    .title{
        font-size: 23px;
    }

    .text{
        font-size: 17px;
    }
}

@media screen and (min-width: 992px){
    .box-photo{
        max-width: 30%;
    }

    .title{
        font-size: 24px;
    }

    .text{
        font-size: 16px;
    }
}