<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-welcome></app-welcome>

<main>
    <article>
        <app-big-card
            photoCard="../../../assets/cyber-punk-city_640.jpg"
            cardTitle="Titulo do post"
            cardDescription="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet culpa asperiores minima laudantium rem explicabo nemo, omnis a repellat cupiditate maiores deserunt eum saepe hic amet debitis? Nostrum, vel impedit."
            >
        </app-big-card>
    </article>

    <article class="small-articles">
        <app-small-card
            photoCard="../../../assets/cyber-punk-city_640.jpg"
            cardTitle="Titulo do post contendo tudo isso com frase completa"
        >
        </app-small-card>

        <app-small-card
            photoCard="../../../assets/cyber-punk-city_640.jpg"
            cardTitle="Titulo do post contendo tudo isso com frase completa"
        >
        </app-small-card>

        <app-small-card
            photoCard="../../../assets/cyber-punk-city_640.jpg"
            cardTitle="Titulo do post contendo tudo isso com frase completa"
        >
        </app-small-card>
        
        <app-small-card
            photoCard="../../../assets/cyber-punk-city_640.jpg"
            cardTitle="Titulo do post contendo tudo isso com frase completa"
        >
        </app-small-card>
    </article>
</main>

<footer>
    <app-footer></app-footer>
</footer>