<app-welcome></app-welcome>

<main>
    <article>
        <app-big-card
            Id="{{ data[0].id }}"
            photoCard="{{ data[0].photo }}"
            cardTitle="{{ data[0].title}}"
            cardDescription="{{ data[0].description }}"
            >
        </app-big-card>
    </article>

    <article class="small-articles">
        <app-small-card
            Id="{{ data[1].id }}"
            photoCard="{{ data[1].photo }}"
            cardTitle="{{ data[1].title }}"
        >
        </app-small-card>

        <app-small-card
            Id="{{ data[2].id }}"
            photoCard="{{ data[2].photo }}"
            cardTitle="{{ data[2].title }}"
        >
        </app-small-card>

        <app-small-card
            Id="{{ data[3].id }}"
            photoCard="{{ data[3].photo }}"
            cardTitle="{{ data[3].title }}"
        >
        </app-small-card>
        
        <app-small-card
            Id="{{ data[4].id }}"
            photoCard="{{ data[4].photo }}"
            cardTitle="{{ data[4].title }}"
        >
        </app-small-card>
    </article>
</main>